# NBA Season

### Data Initialization

We are pulling the NBA season stats throughout the years from the URL of https://www.kaggle.com/datasets/justinas/nba-players-data/data

In [331]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow import keras
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
%matplotlib inline

**Get the kaggle dataset**

In [332]:
# read a csv file into a df
playerData = pd.read_csv('nba.csv')

teamNames = pd.read_csv('unique_teams.csv')

playerData.head()

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,0,Randy Livingston,HOU,22.0,193.04,94.800728,Louisiana State,USA,1996,2,...,3.9,1.5,2.4,0.3,0.042,0.071,0.169,0.487,0.248,1996-97
1,1,Gaylon Nickerson,WAS,28.0,190.50,86.182480,Northwestern Oklahoma,USA,1994,2,...,3.8,1.3,0.3,8.9,0.030,0.111,0.174,0.497,0.043,1996-97
2,2,George Lynch,VAN,26.0,203.20,103.418976,North Carolina,USA,1993,1,...,8.3,6.4,1.9,-8.2,0.106,0.185,0.175,0.512,0.125,1996-97
3,3,George McCloud,LAL,30.0,203.20,102.058200,Florida State,USA,1989,1,...,10.2,2.8,1.7,-2.7,0.027,0.111,0.206,0.527,0.125,1996-97
4,4,George Zidek,DEN,23.0,213.36,119.748288,UCLA,USA,1995,1,...,2.8,1.7,0.3,-14.1,0.102,0.169,0.195,0.500,0.064,1996-97

**Put abbreviations to Cities**

Some cities have multiple as franchises have changed

Cities had to be added as ESPN win rates used cities

In [333]:
# merge the two dataframes on team_abbreviation with df and dfTeams on abbreviations
playerData = pd.merge(playerData, teamNames, left_on='team_abbreviation', right_on='abbreviations')

# drop the team_abbreviation column and abbreviations column
playerData = playerData.drop(columns=['team_abbreviation', 'abbreviations'])

In [334]:
playerData.head()

,Unnamed: 0,player_name,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,...,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season,team
0,0,Randy Livingston,22.0,193.04,94.800728,Louisiana State,USA,1996,2,42,...,1.5,2.4,0.3,0.042,0.071,0.169,0.487,0.248,1996-97,Houston
1,18,Hakeem Olajuwon,34.0,213.36,115.665960,Houston,Nigeria,1984,1,1,...,9.2,3.0,6.5,0.075,0.206,0.308,0.558,0.158,1996-97,Houston
2,29,Emanual Davis,28.0,195.58,87.996848,Delaware State,USA,Undrafted,Undrafted,Undrafted,...,1.7,2.0,6.6,0.011,0.098,0.144,0.565,0.191,1996-97,Houston
3,61,Joe Stephens,24.0,200.66,95.254320,Arkansas-Little Rock,USA,Undrafted,Undrafted,Undrafted,...,1.5,0.0,-17.4,0.250,0.111,0.279,0.300,0.000,1996-97,Houston
4,97,Eddie Johnson,38.0,200.66,97.522280,Illinois,USA,1981,2,29,...,2.7,1.0,4.1,0.034,0.126,0.220,0.541,0.102,1996-97,Houston

In [335]:
# drop the unnamed column
playerData.drop('Unnamed: 0', axis=1, inplace=True)

playerData.dtypes

player_name       object
age              float64
player_height    float64
player_weight    float64
college           object
country           object
draft_year        object
draft_round       object
draft_number      object
gp                 int64
pts              float64
reb              float64
ast              float64
net_rating       float64
oreb_pct         float64
dreb_pct         float64
usg_pct          float64
ts_pct           float64
ast_pct          float64
season            object
team              object
dtype: object

In [336]:
# look for null values
playerData.isnull().sum()

player_name         0
age                 0
player_height       0
player_weight       0
college          1852
country             0
draft_year          0
draft_round         0
draft_number        0
gp                  0
pts                 0
reb                 0
ast                 0
net_rating          0
oreb_pct            0
dreb_pct            0
usg_pct             0
ts_pct              0
ast_pct             0
season              0
team                0
dtype: int64

### Data Preprocessing

We need to deal with the columns we want to keep and also all the categorial data cols of:

player_name           object

team_abbreviation     object

college               object

country               object

draft_year            object

draft_round           object

draft_number          object

season                object

#### **Drop Some of Them**

In [337]:
playerData.drop(['player_name', 'college', 'draft_year', 'draft_round', 'draft_number', 'country'], axis=1, inplace=True)

In [338]:
playerData.head()

,age,player_height,player_weight,gp,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season,team
0,22.0,193.04,94.800728,64,3.9,1.5,2.4,0.3,0.042,0.071,0.169,0.487,0.248,1996-97,Houston
1,34.0,213.36,115.665960,78,23.2,9.2,3.0,6.5,0.075,0.206,0.308,0.558,0.158,1996-97,Houston
2,28.0,195.58,87.996848,13,5.0,1.7,2.0,6.6,0.011,0.098,0.144,0.565,0.191,1996-97,Houston
3,24.0,200.66,95.254320,2,1.5,1.5,0.0,-17.4,0.250,0.111,0.279,0.300,0.000,1996-97,Houston
4,38.0,200.66,97.522280,52,8.2,2.7,1.0,4.1,0.034,0.126,0.220,0.541,0.102,1996-97,Houston

In [339]:
# categorical code season col but i want to keep the original
playerData['season'] = pd.Categorical(playerData['season']).codes + 1997

# drop the rows where seasonEncoded is less than 7. This keeps the season of 03-04 and later
playerData = playerData[playerData['season'] >= 2004]

playerData.reset_index(drop=True, inplace=True)

#### **Add in Win Rates**

In [340]:
def winRateFromYear(year):

    winRateDf = pd.read_html(f'https://www.teamrankings.com/nba/stat/win-pct-all-games?date={year}-06-16')[0]

    winRateDf['Win PCT']= winRateDf[f'{year - 1}'] 

    winRateDf['season'] = year

    winRateDf = winRateDf[['Team', 'Win PCT', 'season']]

    return winRateDf

**Merge DF2 with df on Team Names**

In [341]:
def getWinRates():
    # merge the two dataframes on team with df and teams on team where season is 2004
    winRateDf = pd.DataFrame()

    for year in range(2004, 2024):
        winRateDf = pd.concat([winRateDf, winRateFromYear(year)], ignore_index=True)

    winRateDf.tail()

    return winRateDf

winRateDf = pd.read_csv('winRate.csv')

In [342]:
winRateDf.head()

          Team  Win PCT  season
0      Indiana    0.725    2004
1  San Antonio    0.685    2004
2    Minnesota    0.680    2004
3      Detroit    0.667    2004
4    LA Lakers    0.664    2004

**TODO: MERGE THE DFS**

In [343]:
updatedPlayerData = pd.merge(playerData, winRateDf, left_on=['team', 'season'], right_on=['Team', 'season'])

updatedPlayerData.drop(['Team'], axis=1, inplace=True)

updatedPlayerData.head()

,age,player_height,player_weight,gp,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season,team,Win PCT
0,40.0,205.74,111.130040,7,1.3,0.7,0.3,-7.9,0.000,0.217,0.165,0.521,0.100,2004,Houston,0.529
1,33.0,200.66,122.469840,52,5.0,3.9,0.6,-5.0,0.104,0.175,0.152,0.538,0.063,2004,Houston,0.529
2,28.0,193.04,97.522280,80,15.8,4.5,3.2,1.8,0.015,0.112,0.200,0.535,0.144,2004,Houston,0.529
3,23.0,205.74,100.243832,45,3.1,1.6,0.7,2.0,0.021,0.136,0.159,0.477,0.103,2004,Houston,0.529
4,29.0,195.58,104.326160,19,0.6,1.0,0.5,-8.4,0.010,0.167,0.093,0.278,0.132,2004,Houston,0.529

In [344]:
updatedPlayerData['AVG Minutes Played'] = updatedPlayerData['gp'] * updatedPlayerData['usg_pct']

In [345]:
# Filter the df to only include the max 5 of games played from each seasonEncoded and Team
updatedPlayerData = updatedPlayerData.groupby(['team', 'season']).apply(lambda x: x.nlargest(5, 'AVG Minutes Played')).reset_index(drop=True)

updatedPlayerData.head()

,age,player_height,player_weight,gp,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season,team,Win PCT,AVG Minutes Played
0,26.0,203.20,98.883056,80,18.1,4.6,3.1,-3.8,0.038,0.102,0.249,0.521,0.155,2004,Atlanta,0.342,19.920
1,26.0,187.96,81.646560,81,16.8,4.1,5.4,-4.0,0.019,0.106,0.231,0.519,0.261,2004,Atlanta,0.342,18.711
2,31.0,195.58,90.718400,80,7.5,4.1,2.9,0.8,0.071,0.158,0.191,0.510,0.240,2004,Atlanta,0.342,15.280
3,29.0,205.74,106.594120,56,10.2,3.1,0.8,-5.2,0.054,0.117,0.214,0.544,0.068,2004,Atlanta,0.342,11.984
4,29.0,185.42,86.182480,71,3.8,1.6,2.7,-9.8,0.011,0.094,0.143,0.440,0.256,2004,Atlanta,0.342,10.153

#### **Convert Player Stats into Starters' Team Stats**

In [346]:
teamData = updatedPlayerData.groupby(['season', 'team']).agg(
    ptsTotal=('pts', 'sum'),
    rebTotal=('reb', 'sum'),
    astTotal=('ast', 'sum'),
    MinutesPlayed=('AVG Minutes Played', 'sum'),
    averageAge=('age', 'mean'),
    averageHeight=('player_height', 'mean'),
    averageWeight=('player_weight', 'mean'),
    winRate=('Win PCT', 'first')
).reset_index()

teamData

,season,team,ptsTotal,rebTotal,astTotal,MinutesPlayed,averageAge,averageHeight,averageWeight,winRate
0,2004,Atlanta,56.4,17.5,14.9,76.048,28.2,195.580,92.804923,0.342
1,2004,Boston,58.8,21.7,13.2,87.015,24.0,200.152,99.608803,0.419
2,2004,Brooklyn,71.6,30.0,20.0,80.431,28.8,199.136,100.062395,0.581
3,2004,Chicago,62.5,24.9,16.1,77.090,27.8,199.644,100.788142,0.281
4,2004,Cleveland,67.7,31.5,11.6,82.232,26.0,207.772,110.313574,0.427
...,...,...,...,...,...,...,...,...,...,...
554,2023,Sacramento,87.8,26.9,21.8,85.421,26.4,200.152,95.072883,0.573
555,2023,San Antonio,64.1,19.4,17.0,67.671,23.8,194.056,93.439952,0.268
556,2023,Toronto,85.6,26.6,19.8,77.189,26.6,198.120,96.252222,0.494
557,2023,Utah,83.9,24.2,16.7,73.005,27.0,200.152,99.608803,0.451
558,2023,Washington,83.9,27.5,15.9,77.982,26.6,203.200,96.887251,0.427

In [347]:
winRate = teamData['winRate']

In [348]:
teamData.drop(['season','team','winRate'], axis=1, inplace=True)

teamData.head()

,ptsTotal,rebTotal,astTotal,MinutesPlayed,averageAge,averageHeight,averageWeight
0,56.4,17.5,14.9,76.048,28.2,195.580,92.804923
1,58.8,21.7,13.2,87.015,24.0,200.152,99.608803
2,71.6,30.0,20.0,80.431,28.8,199.136,100.062395
3,62.5,24.9,16.1,77.090,27.8,199.644,100.788142
4,67.7,31.5,11.6,82.232,26.0,207.772,110.313574

In [349]:
winRate.head()

0    0.342
1    0.419
2    0.581
3    0.281
4    0.427
Name: winRate, dtype: float64

In [350]:
# Split data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(teamData, winRate, test_size=0.2, random_state=42)

# Standardize the features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test_Scaled = scaler.transform(X_test)

In [351]:
model = keras.Sequential([
    keras.layers.Input(shape=(X_train.shape[1],)),  # Input layer
    keras.layers.Dense(64, activation='relu'),       # Hidden layer
    keras.layers.Dense(32, activation='relu'),       # Hidden layer
    keras.layers.Dense(1)                             # Output layer (for regression)
])

In [352]:
model.compile(optimizer='adam', loss='mean_squared_error', metrics=['mae'])

In [353]:
model.fit(X_train, y_train, epochs=100, batch_size=5, validation_split=0.2)

Epoch 1/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 0.2017 - mae: 0.3409 - val_loss: 0.0357 - val_mae: 0.1534
Epoch 2/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0291 - mae: 0.1387 - val_loss: 0.0216 - val_mae: 0.1126
Epoch 3/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0235 - mae: 0.1251 - val_loss: 0.0194 - val_mae: 0.1084
Epoch 4/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0235 - mae: 0.1214 - val_loss: 0.0180 - val_mae: 0.1043
Epoch 5/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0161 - mae: 0.0994 - val_loss: 0.0195 - val_mae: 0.1101
Epoch 6/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0131 - mae: 0.0898 - val_loss: 0.0185 - val_mae: 0.1093
Epoch 7/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0108 - mae: 0.0810 - val_loss: 0.0199 - val_mae: 0.1111
Epoch 8/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0130 - mae: 0.0913 - val_loss: 0.0191 - val_mae: 0.1106
Epoch 9/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0109 - mae: 0.0820 - val_loss: 0.0198 - val_mae: 0.1144
Epoch 10/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0097 - mae: 0.0781 - val_loss: 0.0160 - val_mae: 0.1016
Epoch 11/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0103 - mae: 0.0811 - val_loss: 0.0175 - val_mae: 0.1059
Epoch 12/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0088 - mae: 0.0734 - val_loss: 0.0175 - val_mae: 0.1057
Epoch 13/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0094 - mae: 0.0726 - val_loss: 0.0164 - val_mae: 0.1014
Epoch 14/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0086 - mae: 0.0710 - val_loss: 0.0155 - val_mae: 0.0981
Epoch 15/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0075 - mae: 0.0665 - val_loss: 0.0176 - val_mae: 0.1052
Epoch 16/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0077 - mae: 0.0692 - val_loss: 0.0155 - val_mae: 0.0987
Epoch 17/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0080 - mae: 0.0704 - val_loss: 0.0180 - val_mae: 0.1044
Epoch 18/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0067 - mae: 0.0641 - val_loss: 0.0167 - val_mae: 0.1016
Epoch 19/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0068 - mae: 0.0663 - val_loss: 0.0181 - val_mae: 0.1065
Epoch 20/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0065 - mae: 0.0637 - val_loss: 0.0159 - val_mae: 0.0996
Epoch 21/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0069 - mae: 0.0656 - val_loss: 0.0183 - val_mae: 0.1056
Epoch 22/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0062 - mae: 0.0634 - val_loss: 0.0174 - val_mae: 0.1027
Epoch 23/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0071 - mae: 0.0660 - val_loss: 0.0174 - val_mae: 0.1044
Epoch 24/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0059 - mae: 0.0613 - val_loss: 0.0176 - val_mae: 0.1054
Epoch 25/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0052 - mae: 0.0582 - val_loss: 0.0169 - val_mae: 0.1024
Epoch 26/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0064 - mae: 0.0643 - val_loss: 0.0183 - val_mae: 0.1090
Epoch 27/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0055 - mae: 0.0559 - val_loss: 0.0163 - val_mae: 0.1017
Epoch 28/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0055 - mae: 0.0578 - val_loss: 0.0196 - val_mae: 0.1109
Epoch 29/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0053 - mae: 0.0581 - val_loss: 0.0186 - val_mae: 0.1072
Epoch 30/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0049 - mae: 0.0559 - val_loss: 0.0181 - val_mae: 0.1086
Epoch 31/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0048 - mae: 0.0561 - val_loss: 0.0177 - val_mae: 0.1081
Epoch 32/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0057 - mae: 0.0599 - val_loss: 0.0191 - val_mae: 0.1123
Epoch 33/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0053 - mae: 0.0589 - val_loss: 0.0163 - val_mae: 0.1018
Epoch 34/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0048 - mae: 0.0544 - val_loss: 0.0190 - val_mae: 0.1118
Epoch 35/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0046 - mae: 0.0529 - val_loss: 0.0181 - val_mae: 0.1085
Epoch 36/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0042 - mae: 0.0503 - val_loss: 0.0203 - val_mae: 0.1155
Epoch 37/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0054 - mae: 0.0572 - val_loss: 0.0158 - val_mae: 0.1009
Epoch 38/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0041 - mae: 0.0504 - val_loss: 0.0201 - val_mae: 0.1149
Epoch 39/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0041 - mae: 0.0519 - val_loss: 0.0187 - val_mae: 0.1107
Epoch 40/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0037 - mae: 0.0470 - val_loss: 0.0201 - val_mae: 0.1161
Epoch 41/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0037 - mae: 0.0467 - val_loss: 0.0176 - val_mae: 0.1074
Epoch 42/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0048 - mae: 0.0530 - val_loss: 0.0196 - val_mae: 0.1146
Epoch 43/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0041 - mae: 0.0481 - val_loss: 0.0209 - val_mae: 0.1162
Epoch 44/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0043 - mae: 0.0522 - val_loss: 0.0211 - val_mae: 0.1185
Epoch 45/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0046 - mae: 0.0528 - val_loss: 0.0193 - val_mae: 0.1149
Epoch 46/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0032 - mae: 0.0444 - val_loss: 0.0182 - val_mae: 0.1089
Epoch 47/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0037 - mae: 0.0481 - val_loss: 0.0210 - val_mae: 0.1204
Epoch 48/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0049 - mae: 0.0545 - val_loss: 0.0176 - val_mae: 0.1074
Epoch 49/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0035 - mae: 0.0458 - val_loss: 0.0185 - val_mae: 0.1097
Epoch 50/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0029 - mae: 0.0420 - val_loss: 0.0179 - val_mae: 0.1096
Epoch 51/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0037 - mae: 0.0475 - val_loss: 0.0181 - val_mae: 0.1108
Epoch 52/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0029 - mae: 0.0419 - val_loss: 0.0212 - val_mae: 0.1178
Epoch 53/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0036 - mae: 0.0475 - val_loss: 0.0183 - val_mae: 0.1101
Epoch 54/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0031 - mae: 0.0438 - val_loss: 0.0188 - val_mae: 0.1119
Epoch 55/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0029 - mae: 0.0426 - val_loss: 0.0178 - val_mae: 0.1078
Epoch 56/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0030 - mae: 0.0433 - val_loss: 0.0187 - val_mae: 0.1117
Epoch 57/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0028 - mae: 0.0394 - val_loss: 0.0183 - val_mae: 0.1108
Epoch 58/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0032 - mae: 0.0441 - val_loss: 0.0174 - val_mae: 0.1081
Epoch 59/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0024 - mae: 0.0374 - val_loss: 0.0203 - val_mae: 0.1169
Epoch 60/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0031 - mae: 0.0431 - val_loss: 0.0206 - val_mae: 0.1188
Epoch 61/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0026 - mae: 0.0389 - val_loss: 0.0204 - val_mae: 0.1168
Epoch 62/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0034 - mae: 0.0450 - val_loss: 0.0177 - val_mae: 0.1077
Epoch 63/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0040 - mae: 0.0499 - val_loss: 0.0197 - val_mae: 0.1145
Epoch 64/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0033 - mae: 0.0441 - val_loss: 0.0181 - val_mae: 0.1114
Epoch 65/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0031 - mae: 0.0438 - val_loss: 0.0188 - val_mae: 0.1131
Epoch 66/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0029 - mae: 0.0425 - val_loss: 0.0201 - val_mae: 0.1179
Epoch 67/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0018 - mae: 0.0320 - val_loss: 0.0193 - val_mae: 0.1141
Epoch 68/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0028 - mae: 0.0395 - val_loss: 0.0188 - val_mae: 0.1141
Epoch 69/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0022 - mae: 0.0359 - val_loss: 0.0189 - val_mae: 0.1145
Epoch 70/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0021 - mae: 0.0348 - val_loss: 0.0190 - val_mae: 0.1106
Epoch 71/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0020 - mae: 0.0334 - val_loss: 0.0192 - val_mae: 0.1138
Epoch 72/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0018 - mae: 0.0332 - val_loss: 0.0197 - val_mae: 0.1148
Epoch 73/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0021 - mae: 0.0365 - val_loss: 0.0214 - val_mae: 0.1197
Epoch 74/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0022 - mae: 0.0381 - val_loss: 0.0179 - val_mae: 0.1099
Epoch 75/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0020 - mae: 0.0356 - val_loss: 0.0196 - val_mae: 0.1144
Epoch 76/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0024 - mae: 0.0388 - val_loss: 0.0201 - val_mae: 0.1173
Epoch 77/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0019 - mae: 0.0343 - val_loss: 0.0193 - val_mae: 0.1123
Epoch 78/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0021 - mae: 0.0358 - val_loss: 0.0195 - val_mae: 0.1145
Epoch 79/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0022 - mae: 0.0361 - val_loss: 0.0194 - val_mae: 0.1171
Epoch 80/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0027 - mae: 0.0389 - val_loss: 0.0192 - val_mae: 0.1164
Epoch 81/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0027 - mae: 0.0396 - val_loss: 0.0222 - val_mae: 0.1219
Epoch 82/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0026 - mae: 0.0390 - val_loss: 0.0213 - val_mae: 0.1167
Epoch 83/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0036 - mae: 0.0470 - val_loss: 0.0209 - val_mae: 0.1183
Epoch 84/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0031 - mae: 0.0438 - val_loss: 0.0228 - val_mae: 0.1240
Epoch 85/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0021 - mae: 0.0360 - val_loss: 0.0184 - val_mae: 0.1115
Epoch 86/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0017 - mae: 0.0313 - val_loss: 0.0185 - val_mae: 0.1097
Epoch 87/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0024 - mae: 0.0378 - val_loss: 0.0216 - val_mae: 0.1217
Epoch 88/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0016 - mae: 0.0301 - val_loss: 0.0214 - val_mae: 0.1200
Epoch 89/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0021 - mae: 0.0351 - val_loss: 0.0216 - val_mae: 0.1213
Epoch 90/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0021 - mae: 0.0343 - val_loss: 0.0202 - val_mae: 0.1174
Epoch 91/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0020 - mae: 0.0336 - val_loss: 0.0205 - val_mae: 0.1154
Epoch 92/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0016 - mae: 0.0309 - val_loss: 0.0201 - val_mae: 0.1176
Epoch 93/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0024 - mae: 0.0383 - val_loss: 0.0193 - val_mae: 0.1169
Epoch 94/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0014 - mae: 0.0289 - val_loss: 0.0203 - val_mae: 0.1152
Epoch 95/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0016 - mae: 0.0307 - val_loss: 0.0203 - val_mae: 0.1131
Epoch 96/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0023 - mae: 0.0364 - val_loss: 0.0223 - val_mae: 0.1236
Epoch 97/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0026 - mae: 0.0389 - val_loss: 0.0216 - val_mae: 0.1218
Epoch 98/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0019 - mae: 0.0343 - val_loss: 0.0214 - val_mae: 0.1177
Epoch 99/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0021 - mae: 0.0354 - val_loss: 0.0213 - val_mae: 0.1184
Epoch 100/100
72/72 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0016 - mae: 0.0313 - val_loss: 0.0191 - val_mae: 0.1140

In [354]:
test_loss, test_mae = model.evaluate(X_test_Scaled, y_test)
print(f'Test MAE: {test_mae:.3f}, Test Loss: {test_loss:.3f}')

4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0197 - mae: 0.1102
Test MAE: 0.115, Test Loss: 0.021

In [355]:
X_test.head(1), y_test.head(1)

(     ptsTotal  rebTotal  astTotal  MinutesPlayed  averageAge  averageHeight  \
 158      72.1      29.5      16.7         83.282        29.6        201.168

      averageWeight
 158      98.429464  ,
 158    0.679
 Name: winRate, dtype: float64)

In [361]:
# Example input for a new set of NBA players

predicted_win_rates = model.predict(X_test_Scaled)
actual_win_rates = y_test.values

# Display predictions alongside actual values
for pred, actual in zip(predicted_win_rates.flatten(), actual_win_rates):
    print(f'Predicted: {pred:.3f}, Actual: {actual:.3f}')

4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step
Predicted: 0.590, Actual: 0.679
Predicted: 0.251, Actual: 0.339
Predicted: 0.333, Actual: 0.317
Predicted: 0.339, Actual: 0.750
Predicted: 0.393, Actual: 0.471
Predicted: 0.645, Actual: 0.511
Predicted: 0.541, Actual: 0.354
Predicted: 0.457, Actual: 0.500
Predicted: 0.545, Actual: 0.640
Predicted: 0.626, Actual: 0.792
Predicted: 0.548, Actual: 0.293
Predicted: 0.527, Actual: 0.628
Predicted: 0.519, Actual: 0.317
Predicted: 0.708, Actual: 0.725
Predicted: 0.607, Actual: 0.638
Predicted: 0.608, Actual: 0.632
Predicted: 0.733, Actual: 0.644
Predicted: 0.575, Actual: 0.725
Predicted: 0.563, Actual: 0.523
Predicted: 0.551, Actual: 0.596
Predicted: 0.599, Actual: 0.470
Predicted: 0.485, Actual: 0.563
Predicted: 0.384, Actual: 0.506
Predicted: 0.479, Actual: 0.512
Predicted: 0.327, Actual: 0.534
Predicted: 0.489, Actual: 0.613
Predicted: 0.604, Actual: 0.656
Predicted: 0.286, Actual: 0.232
Predicted: 0.330, Actual: 0.402
Predicted: 0.591, Actual: 0.582
Predicted: 0.748, Actual: 0.784
Predicted: 0.693, Actual: 0.606
Predicted: 0.748, Actual: 0.439
Predicted: 0.513, Actual: 0.281
Predicted: 0.362, Actual: 0.494
Predicted: 0.666, Actual: 0.698
Predicted: 0.441, Actual: 0.220
Predicted: 0.459, Actual: 0.207
Predicted: 0.643, Actual: 0.660
Predicted: 0.477, Actual: 0.293
Predicted: 0.503, Actual: 0.573
Predicted: 0.496, Actual: 0.415
Predicted: 0.424, Actual: 0.427
Predicted: 0.295, Actual: 0.268
Predicted: 0.658, Actual: 0.581
Predicted: 0.498, Actual: 0.719
Predicted: 0.549, Actual: 0.671
Predicted: 0.640, Actual: 0.427
Predicted: 0.645, Actual: 0.598
Predicted: 0.310, Actual: 0.342
Predicted: 0.290, Actual: 0.306
Predicted: 0.396, Actual: 0.329
Predicted: 0.352, Actual: 0.469
Predicted: 0.524, Actual: 0.366
Predicted: 0.400, Actual: 0.451
Predicted: 0.517, Actual: 0.573
Predicted: 0.354, Actual: 0.492
Predicted: 0.889, Actual: 0.590
Predicted: 0.306, Actual: 0.318
Predicted: 0.587, Actual: 0.654
Predicted: 0.524, Actual: 0.570
Predicted: 0.656, Actual: 0.596
Predicted: 0.393, Actual: 0.232
Predicted: 0.422, Actual: 0.366
Predicted: 0.320, Actual: 0.722
Predicted: 0.586, Actual: 0.542
Predicted: 0.783, Actual: 0.720
Predicted: 0.591, Actual: 0.598
Predicted: 0.492, Actual: 0.463
Predicted: 0.481, Actual: 0.506
Predicted: 0.699, Actual: 0.451
Predicted: 0.619, Actual: 0.737
Predicted: 0.609, Actual: 0.529
Predicted: 0.788, Actual: 0.606
Predicted: 0.500, Actual: 0.500
Predicted: 0.546, Actual: 0.451
Predicted: 0.514, Actual: 0.402
Predicted: 0.559, Actual: 0.444
Predicted: 0.660, Actual: 0.529
Predicted: 0.550, Actual: 0.500
Predicted: 0.340, Actual: 0.623
Predicted: 0.229, Actual: 0.477
Predicted: 0.631, Actual: 0.706
Predicted: 0.203, Actual: 0.256
Predicted: 0.665, Actual: 0.342
Predicted: 0.608, Actual: 0.540
Predicted: 0.553, Actual: 0.573
Predicted: 0.479, Actual: 0.256
Predicted: 0.454, Actual: 0.305
Predicted: 0.608, Actual: 0.317
Predicted: 0.654, Actual: 0.463
Predicted: 0.344, Actual: 0.379
Predicted: 0.601, Actual: 0.641
Predicted: 0.230, Actual: 0.303
Predicted: 0.519, Actual: 0.570
Predicted: 0.444, Actual: 0.597
Predicted: 0.668, Actual: 0.740
Predicted: 0.425, Actual: 0.488
Predicted: 0.557, Actual: 0.473
Predicted: 0.540, Actual: 0.720
Predicted: 0.513, Actual: 0.608
Predicted: 0.343, Actual: 0.195
Predicted: 0.546, Actual: 0.622
Predicted: 0.520, Actual: 0.674
Predicted: 0.382, Actual: 0.268
Predicted: 0.702, Actual: 0.415
Predicted: 0.504, Actual: 0.342
Predicted: 0.731, Actual: 0.664
Predicted: 0.686, Actual: 0.488
Predicted: 0.469, Actual: 0.660
Predicted: 0.504, Actual: 0.378
Predicted: 0.637, Actual: 0.656