# NBA Season

### Data Initialization

We are pulling the NBA season stats throughout the years from the URL of https://www.kaggle.com/datasets/justinas/nba-players-data/data

In [69]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow import keras
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from itertools import combinations
%matplotlib inline

**Get the kaggle dataset**

In [70]:
# read a csv file into a df
playerData = pd.read_csv('nba.csv')

teamNames = pd.read_csv('unique_teams.csv')

playerData.head()

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,0,Randy Livingston,HOU,22.0,193.04,94.800728,Louisiana State,USA,1996,2,...,3.9,1.5,2.4,0.3,0.042,0.071,0.169,0.487,0.248,1996-97
1,1,Gaylon Nickerson,WAS,28.0,190.50,86.182480,Northwestern Oklahoma,USA,1994,2,...,3.8,1.3,0.3,8.9,0.030,0.111,0.174,0.497,0.043,1996-97
2,2,George Lynch,VAN,26.0,203.20,103.418976,North Carolina,USA,1993,1,...,8.3,6.4,1.9,-8.2,0.106,0.185,0.175,0.512,0.125,1996-97
3,3,George McCloud,LAL,30.0,203.20,102.058200,Florida State,USA,1989,1,...,10.2,2.8,1.7,-2.7,0.027,0.111,0.206,0.527,0.125,1996-97
4,4,George Zidek,DEN,23.0,213.36,119.748288,UCLA,USA,1995,1,...,2.8,1.7,0.3,-14.1,0.102,0.169,0.195,0.500,0.064,1996-97

**Put abbreviations to Cities**

Some cities have multiple as franchises have changed

Cities had to be added as ESPN win rates used cities

In [71]:
# merge the two dataframes on team_abbreviation with df and dfTeams on abbreviations
playerData = pd.merge(playerData, teamNames, left_on='team_abbreviation', right_on='abbreviations')

# drop the team_abbreviation column and abbreviations column
playerData = playerData.drop(columns=['team_abbreviation', 'abbreviations'])

In [72]:
playerData.head()

,Unnamed: 0,player_name,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,...,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season,team
0,0,Randy Livingston,22.0,193.04,94.800728,Louisiana State,USA,1996,2,42,...,1.5,2.4,0.3,0.042,0.071,0.169,0.487,0.248,1996-97,Houston
1,1,Gaylon Nickerson,28.0,190.50,86.182480,Northwestern Oklahoma,USA,1994,2,34,...,1.3,0.3,8.9,0.030,0.111,0.174,0.497,0.043,1996-97,Washington
2,3,George McCloud,30.0,203.20,102.058200,Florida State,USA,1989,1,7,...,2.8,1.7,-2.7,0.027,0.111,0.206,0.527,0.125,1996-97,LA Lakers
3,4,George Zidek,23.0,213.36,119.748288,UCLA,USA,1995,1,22,...,1.7,0.3,-14.1,0.102,0.169,0.195,0.500,0.064,1996-97,Denver
4,5,Gerald Wilkins,33.0,198.12,102.058200,Tennessee-Chattanooga,USA,1985,2,47,...,2.2,2.2,-5.8,0.031,0.064,0.203,0.503,0.143,1996-97,Orlando

In [73]:
# drop the unnamed column
playerData.drop('Unnamed: 0', axis=1, inplace=True)

playerData.dtypes

player_name       object
age              float64
player_height    float64
player_weight    float64
college           object
country           object
draft_year        object
draft_round       object
draft_number      object
gp                 int64
pts              float64
reb              float64
ast              float64
net_rating       float64
oreb_pct         float64
dreb_pct         float64
usg_pct          float64
ts_pct           float64
ast_pct          float64
season            object
team              object
dtype: object

In [74]:
# look for null values
playerData.isnull().sum()

player_name         0
age                 0
player_height       0
player_weight       0
college          1852
country             0
draft_year          0
draft_round         0
draft_number        0
gp                  0
pts                 0
reb                 0
ast                 0
net_rating          0
oreb_pct            0
dreb_pct            0
usg_pct             0
ts_pct              0
ast_pct             0
season              0
team                0
dtype: int64

### Data Preprocessing

We need to deal with the columns we want to keep and also all the categorial data cols of:

player_name           object

team_abbreviation     object

college               object

country               object

draft_year            object

draft_round           object

draft_number          object

season                object

#### **Drop Some of Them**

In [75]:
playerData.drop(['college', 'draft_year', 'draft_round', 'draft_number', 'country'], axis=1, inplace=True)

In [76]:
playerData.head()

,player_name,age,player_height,player_weight,gp,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season,team
0,Randy Livingston,22.0,193.04,94.800728,64,3.9,1.5,2.4,0.3,0.042,0.071,0.169,0.487,0.248,1996-97,Houston
1,Gaylon Nickerson,28.0,190.50,86.182480,4,3.8,1.3,0.3,8.9,0.030,0.111,0.174,0.497,0.043,1996-97,Washington
2,George McCloud,30.0,203.20,102.058200,64,10.2,2.8,1.7,-2.7,0.027,0.111,0.206,0.527,0.125,1996-97,LA Lakers
3,George Zidek,23.0,213.36,119.748288,52,2.8,1.7,0.3,-14.1,0.102,0.169,0.195,0.500,0.064,1996-97,Denver
4,Gerald Wilkins,33.0,198.12,102.058200,80,10.6,2.2,2.2,-5.8,0.031,0.064,0.203,0.503,0.143,1996-97,Orlando

In [77]:
# categorical code season col but i want to keep the original
playerData['season'] = pd.Categorical(playerData['season']).codes + 1997

# drop the rows where seasonEncoded is less than 7. This keeps the season of 03-04 and later
playerData = playerData[playerData['season'] >= 2004]

playerData.reset_index(drop=True, inplace=True)

#### **Add in Win Rates**

In [78]:
def winRateFromYear(year):

    winRateDf = pd.read_html(f'https://www.teamrankings.com/nba/stat/win-pct-all-games?date={year}-06-16')[0]

    winRateDf['Win PCT']= winRateDf[f'{year - 1}'] 

    winRateDf['season'] = year

    winRateDf = winRateDf[['Team', 'Win PCT', 'season']]

    return winRateDf

**Merge DF2 with df on Team Names**

In [79]:
def getWinRates():
    # merge the two dataframes on team with df and teams on team where season is 2004
    winRateDf = pd.DataFrame()

    for year in range(2004, 2024):
        winRateDf = pd.concat([winRateDf, winRateFromYear(year)], ignore_index=True)

    winRateDf.tail()

    return winRateDf

winRateDf = pd.read_csv('winRate.csv')

In [80]:
winRateDf.head()

          Team  Win PCT  season
0      Indiana    0.725    2004
1  San Antonio    0.685    2004
2    Minnesota    0.680    2004
3      Detroit    0.667    2004
4    LA Lakers    0.664    2004

**TODO: MERGE THE DFS**

In [81]:
updatedPlayerData = pd.merge(playerData, winRateDf, left_on=['team', 'season'], right_on=['Team', 'season'])

updatedPlayerData.drop(['Team'], axis=1, inplace=True)

updatedPlayerData.head()

,player_name,age,player_height,player_weight,gp,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season,team,Win PCT
0,Brevin Knight,28.0,177.80,77.110640,56,4.7,2.0,3.6,-4.4,0.016,0.115,0.156,0.475,0.343,2004,Milwaukee,0.483
1,Jumaine Jones,25.0,203.20,98.883056,42,2.2,1.6,0.3,-5.0,0.071,0.133,0.150,0.438,0.065,2004,Boston,0.419
2,Zydrunas Ilgauskas,29.0,220.98,117.933920,81,15.3,8.1,1.3,-3.7,0.122,0.163,0.229,0.541,0.074,2004,Cleveland,0.427
3,Chris Whitney,32.0,182.88,79.378600,16,2.9,0.9,0.9,-16.0,0.016,0.077,0.128,0.498,0.146,2004,Washington,0.305
4,Chris Webber,31.0,208.28,111.130040,23,18.7,8.7,4.6,-0.7,0.065,0.198,0.289,0.456,0.227,2004,Sacramento,0.660

In [82]:
updatedPlayerData['AVG Minutes Played'] = updatedPlayerData['gp'] * updatedPlayerData['usg_pct']

In [83]:
# Filter the df to only include the max 5 of games played from each seasonEncoded and Team
updatedPlayerData = updatedPlayerData.groupby(['team', 'season']).apply(lambda x: x.nlargest(5, 'AVG Minutes Played')).reset_index(drop=True)

updatedPlayerData.head()

C:\Users\miche\AppData\Local\Temp\ipykernel_7044\1230662545.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  updatedPlayerData = updatedPlayerData.groupby(['team', 'season']).apply(lambda x: x.nlargest(5, 'AVG Minutes Played')).reset_index(drop=True)

,player_name,age,player_height,player_weight,gp,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season,team,Win PCT,AVG Minutes Played
0,Stephen Jackson,26.0,203.20,98.883056,80,18.1,4.6,3.1,-3.8,0.038,0.102,0.249,0.521,0.155,2004,Atlanta,0.342,19.920
1,Jason Terry,26.0,187.96,81.646560,81,16.8,4.1,5.4,-4.0,0.019,0.106,0.231,0.519,0.261,2004,Atlanta,0.342,18.711
2,Bob Sura,31.0,195.58,90.718400,80,7.5,4.1,2.9,0.8,0.071,0.158,0.191,0.510,0.240,2004,Atlanta,0.342,15.280
3,Chris Crawford,29.0,205.74,106.594120,56,10.2,3.1,0.8,-5.2,0.054,0.117,0.214,0.544,0.068,2004,Atlanta,0.342,11.984
4,Jacque Vaughn,29.0,185.42,86.182480,71,3.8,1.6,2.7,-9.8,0.011,0.094,0.143,0.440,0.256,2004,Atlanta,0.342,10.153

#### **Convert Player Stats into Starters' Team Stats**

In [84]:
teamData = updatedPlayerData.groupby(['season', 'team']).agg(
    ptsTotal=('pts', 'sum'),
    rebTotal=('reb', 'sum'),
    astTotal=('ast', 'sum'),
    MinutesPlayed=('AVG Minutes Played', 'sum'),
    averageAge=('age', 'mean'),
    averageHeight=('player_height', 'mean'),
    averageWeight=('player_weight', 'mean'),
    winRate=('Win PCT', 'first')
).reset_index()

teamData

,season,team,ptsTotal,rebTotal,astTotal,MinutesPlayed,averageAge,averageHeight,averageWeight,winRate
0,2004,Atlanta,56.4,17.5,14.9,76.048,28.2,195.580,92.804923,0.342
1,2004,Boston,58.8,21.7,13.2,87.015,24.0,200.152,99.608803,0.419
2,2004,Brooklyn,71.6,30.0,20.0,80.431,28.8,199.136,100.062395,0.581
3,2004,Chicago,62.5,24.9,16.1,77.090,27.8,199.644,100.788142,0.281
4,2004,Cleveland,67.7,31.5,11.6,82.232,26.0,207.772,110.313574,0.427
...,...,...,...,...,...,...,...,...,...,...
554,2023,Sacramento,87.8,26.9,21.8,85.421,26.4,200.152,95.072883,0.573
555,2023,San Antonio,64.1,19.4,17.0,67.671,23.8,194.056,93.439952,0.268
556,2023,Toronto,85.6,26.6,19.8,77.189,26.6,198.120,96.252222,0.494
557,2023,Utah,83.9,24.2,16.7,73.005,27.0,200.152,99.608803,0.451
558,2023,Washington,83.9,27.5,15.9,77.982,26.6,203.200,96.887251,0.427

In [85]:
winRate = teamData['winRate']

In [86]:
teamData.drop(['season','team','winRate'], axis=1, inplace=True)

teamData.head()

,ptsTotal,rebTotal,astTotal,MinutesPlayed,averageAge,averageHeight,averageWeight
0,56.4,17.5,14.9,76.048,28.2,195.580,92.804923
1,58.8,21.7,13.2,87.015,24.0,200.152,99.608803
2,71.6,30.0,20.0,80.431,28.8,199.136,100.062395
3,62.5,24.9,16.1,77.090,27.8,199.644,100.788142
4,67.7,31.5,11.6,82.232,26.0,207.772,110.313574

In [87]:
winRate.head()

0    0.342
1    0.419
2    0.581
3    0.281
4    0.427
Name: winRate, dtype: float64

In [88]:
# Split data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(teamData, winRate, test_size=0.2, random_state=42)

# Standardize the features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test_Scaled = scaler.transform(X_test)

In [89]:
model = keras.Sequential([
    keras.layers.Input(shape=(X_train.shape[1],)),  # Input layer
    keras.layers.Dense(64, activation='relu'),       # Hidden layer
    keras.layers.Dense(32, activation='relu'),       # Hidden layer
    keras.layers.Dense(1)                             # Output layer (for regression)
])

In [90]:
model.compile(optimizer='adam', loss='mean_squared_error', metrics=['mae'])

In [91]:
model.fit(X_train, y_train, epochs=100, batch_size=5, validation_split=0.2, verbose=0)

In [92]:
# Example input for a new set of NBA players

predicted_win_rates = model.predict(X_test_Scaled)
actual_win_rates = y_test.values

# Values to keep track of how many predictions are within 5 and 10 games of the actual win rate
total = 0
within5 = 0
within10 = 0

# Display predictions alongside actual values
for pred, actual in zip(predicted_win_rates.flatten(), actual_win_rates):
    #print(f'Predicted: {pred:.3f}, Actual: {actual:.3f}')
    total += 1

    if abs(pred - actual) <= 5/80:
        within5 += 1
        within10 += 1
    elif abs(pred - actual) <= 10/80:
        within10 += 1

# print total, within5, within10
print(f'Total: {total}')
print(f'Within 5 Games: {within5/total * 100}%')
print(f'Within 10 Games: {within10/total * 100}%')

4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 11ms/step
Predicted: 0.634, Actual: 0.679
Predicted: 0.217, Actual: 0.339
Predicted: 0.361, Actual: 0.317
Predicted: 0.352, Actual: 0.750
Predicted: 0.348, Actual: 0.471
Predicted: 0.682, Actual: 0.511
Predicted: 0.583, Actual: 0.354
Predicted: 0.517, Actual: 0.500
Predicted: 0.482, Actual: 0.640
Predicted: 0.568, Actual: 0.792
Predicted: 0.535, Actual: 0.293
Predicted: 0.242, Actual: 0.628
Predicted: 0.232, Actual: 0.317
Predicted: 0.667, Actual: 0.725
Predicted: 0.719, Actual: 0.638
Predicted: 0.651, Actual: 0.632
Predicted: 0.763, Actual: 0.644
Predicted: 0.567, Actual: 0.725
Predicted: 0.531, Actual: 0.523
Predicted: 0.674, Actual: 0.596
Predicted: 0.537, Actual: 0.470
Predicted: 0.466, Actual: 0.563
Predicted: 0.333, Actual: 0.506
Predicted: 0.468, Actual: 0.512
Predicted: 0.352, Actual: 0.534
Predicted: 0.512, Actual: 0.613
Predicted: 0.694, Actual: 0.656
Predicted: 0.521, Actual: 0.232
Predicted: 0.401, Actual: 0.402
Predicted: 0.599, Actual: 0.582
Predicted: 0.734, Actual: 0.784
Predicted: 0.650, Actual: 0.606
Predicted: 0.696, Actual: 0.439
Predicted: 0.511, Actual: 0.281
Predicted: 0.445, Actual: 0.494
Predicted: 0.554, Actual: 0.698
Predicted: 0.326, Actual: 0.220
Predicted: 0.435, Actual: 0.207
Predicted: 0.681, Actual: 0.660
Predicted: 0.433, Actual: 0.293
Predicted: 0.431, Actual: 0.573
Predicted: 0.367, Actual: 0.415
Predicted: 0.437, Actual: 0.427
Predicted: 0.370, Actual: 0.268
Predicted: 0.706, Actual: 0.581
Predicted: 0.393, Actual: 0.719
Predicted: 0.502, Actual: 0.671
Predicted: 0.395, Actual: 0.427
Predicted: 0.413, Actual: 0.598
Predicted: 0.486, Actual: 0.342
Predicted: 0.050, Actual: 0.306
Predicted: 0.346, Actual: 0.329
Predicted: 0.228, Actual: 0.469
Predicted: 0.611, Actual: 0.366
Predicted: 0.366, Actual: 0.451
Predicted: 0.542, Actual: 0.573
Predicted: 0.207, Actual: 0.492
Predicted: 0.745, Actual: 0.590
Predicted: 0.341, Actual: 0.318
Predicted: 0.659, Actual: 0.654
Predicted: 0.328, Actual: 0.570
Predicted: 0.681, Actual: 0.596
Predicted: 0.227, Actual: 0.232
Predicted: 0.358, Actual: 0.366
Predicted: 0.518, Actual: 0.722
Predicted: 0.561, Actual: 0.542
Predicted: 0.875, Actual: 0.720
Predicted: 0.533, Actual: 0.598
Predicted: 0.429, Actual: 0.463
Predicted: 0.461, Actual: 0.506
Predicted: 0.583, Actual: 0.451
Predicted: 0.718, Actual: 0.737
Predicted: 0.635, Actual: 0.529
Predicted: 0.735, Actual: 0.606
Predicted: 0.519, Actual: 0.500
Predicted: 0.459, Actual: 0.451
Predicted: 0.614, Actual: 0.402
Predicted: 0.512, Actual: 0.444
Predicted: 0.416, Actual: 0.529
Predicted: 0.548, Actual: 0.500
Predicted: 0.306, Actual: 0.623
Predicted: 0.381, Actual: 0.477
Predicted: 0.722, Actual: 0.706
Predicted: 0.097, Actual: 0.256
Predicted: 0.515, Actual: 0.342
Predicted: 0.588, Actual: 0.540
Predicted: 0.472, Actual: 0.573
Predicted: 0.369, Actual: 0.256
Predicted: 0.454, Actual: 0.305
Predicted: 0.504, Actual: 0.317
Predicted: 0.424, Actual: 0.463
Predicted: 0.318, Actual: 0.379
Predicted: 0.625, Actual: 0.641
Predicted: 0.122, Actual: 0.303
Predicted: 0.561, Actual: 0.570
Predicted: 0.446, Actual: 0.597
Predicted: 0.831, Actual: 0.740
Predicted: 0.554, Actual: 0.488
Predicted: 0.540, Actual: 0.473
Predicted: 0.535, Actual: 0.720
Predicted: 0.592, Actual: 0.608
Predicted: 0.366, Actual: 0.195
Predicted: 0.459, Actual: 0.622
Predicted: 0.523, Actual: 0.674
Predicted: 0.247, Actual: 0.268
Predicted: 0.590, Actual: 0.415
Predicted: 0.432, Actual: 0.342
Predicted: 0.634, Actual: 0.664
Predicted: 0.567, Actual: 0.488
Predicted: 0.536, Actual: 0.660
Predicted: 0.484, Actual: 0.378
Predicted: 0.761, Actual: 0.656

In [93]:
# Calculate regression metrics
mae = mean_absolute_error(actual_win_rates, predicted_win_rates)
mse = mean_squared_error(actual_win_rates, predicted_win_rates)
r2 = r2_score(actual_win_rates, predicted_win_rates)

print(f'Mean Absolute Error: {mae:.2f}')
print(f'Mean Squared Error: {mse:.2f}')
print(f'R-squared: {r2:.2f}')

Mean Absolute Error: 0.11
Mean Squared Error: 0.02
R-squared: 0.08

In [94]:
# Define weights for each statistic
weights = {
    'pts': 0.3,  # Weight for points
    'ast': 0.3,  # Weight for assists
    'reb': 0.4   # Weight for rebounds
}

# Calculate combined score
updatedPlayerData['combined_score'] = (updatedPlayerData['pts'] * weights['pts'] +
                        updatedPlayerData['ast'] * weights['ast'] +
                        updatedPlayerData['reb'] * weights['reb'])

In [95]:
top_players = updatedPlayerData.sort_values(by='combined_score', ascending=False).head(10)

# only keep the first apperaance of each player
top_players = top_players.drop_duplicates(subset='player_name')

In [96]:
top_players

,player_name,age,player_height,player_weight,gp,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season,team,Win PCT,AVG Minutes Played,combined_score
785,Nikola Jokic,27.0,210.82,128.820128,74,27.1,13.8,7.9,8.4,0.090,0.313,0.309,0.661,0.388,2022,Denver,0.563,22.866,16.02
1575,Giannis Antetokounmpo,25.0,210.82,109.769264,63,29.5,13.6,5.6,15.4,0.068,0.307,0.363,0.613,0.328,2020,Milwaukee,0.815,22.869,15.97
1070,James Harden,29.0,195.58,99.790240,78,36.1,6.6,7.5,6.3,0.023,0.157,0.396,0.616,0.394,2019,Houston,0.634,30.888,15.72
690,Luka Doncic,24.0,200.66,104.326160,66,32.4,8.6,8.0,2.1,0.024,0.224,0.368,0.609,0.408,2023,Dallas,0.463,24.288,15.56
2090,Joel Embiid,29.0,213.36,127.005760,66,33.1,10.2,4.2,8.8,0.057,0.243,0.370,0.655,0.233,2023,Philadelphia,0.656,24.420,15.27

In [97]:
# Get all combinations of 5 players
combinations_of_5 = list(combinations(top_players.index, 5))

In [98]:
print(combinations_of_5)

[(785, 1575, 1070, 690, 2090)]

In [99]:
createdTeams = []

for combo in combinations_of_5:
    team = pd.DataFrame()
    
    for player in combo:
        # print(player)
        # print(top_players.loc[player].to_frame().T)
        team = pd.concat([team, top_players.loc[player].to_frame().T])

    team['team'] = 1

    print(team)
    createdTeams.append(team.groupby(['team']).agg(
        ptsTotal=('pts', 'sum'),
        rebTotal=('reb', 'sum'),
        astTotal=('ast', 'sum'),
        MinutesPlayed=('AVG Minutes Played', 'sum'),
        averageAge=('age', 'mean'),
        averageHeight=('player_height', 'mean'),
        averageWeight=('player_weight', 'mean'),
    ).reset_index())

                player_name   age player_height player_weight  gp   pts   reb  \
785            Nikola Jokic  27.0        210.82    128.820128  74  27.1  13.8
1575  Giannis Antetokounmpo  25.0        210.82    109.769264  63  29.5  13.6
1070           James Harden  29.0        195.58      99.79024  78  36.1   6.6
690             Luka Doncic  24.0        200.66     104.32616  66  32.4   8.6
2090            Joel Embiid  29.0        213.36     127.00576  66  33.1  10.2

      ast net_rating oreb_pct dreb_pct usg_pct ts_pct ast_pct season  team  \
785   7.9        8.4     0.09    0.313   0.309  0.661   0.388   2022     1
1575  5.6       15.4    0.068    0.307   0.363  0.613   0.328   2020     1
1070  7.5        6.3    0.023    0.157   0.396  0.616   0.394   2019     1
690   8.0        2.1    0.024    0.224   0.368  0.609   0.408   2023     1
2090  4.2        8.8    0.057    0.243    0.37  0.655   0.233   2023     1

     Win PCT AVG Minutes Played combined_score
785    0.563             22.866          16.02
1575   0.815             22.869          15.97
1070   0.634             30.888          15.72
690    0.463             24.288          15.56
2090   0.656              24.42          15.27

In [100]:
for i in range(len(createdTeams)):
    createdTeams[i].drop(['team'], axis=1, inplace=True)

In [101]:
teamWinPCTs = []
for team in createdTeams:
    teamWinPCTs.append(model.predict(scaler.transform(team)))

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 24ms/step

In [102]:
final_teamWinPCTs = [pct_array[0,0] for pct_array in teamWinPCTs]

In [103]:
maxPercentage = max(final_teamWinPCTs)
maxIndex = final_teamWinPCTs.index(maxPercentage)

print(f"The maximum percentage is: {maxPercentage} at index: {maxIndex}")

The maximum percentage is: 1.6024572849273682 at index: 0

This is the best team. They are projected to win 109.3% of their games. How, I have no idea! They put up 162.5 pts/g, 41.6 reb/g and 38.4 ast/g.

In [104]:
createdTeams[maxIndex]

,ptsTotal,rebTotal,astTotal,MinutesPlayed,averageAge,averageHeight,averageWeight
0,158.2,52.8,33.2,125.331,26.8,206.248,113.94231

These are the indexes of the players in the **top_players** dataframe. You can find the stats of those players by doing the **top_players.loc[ *index_num* ]** seen below. I believe that player is James Harden, but we didn't save the names.

In [105]:
combinations_of_5[maxIndex]

(785, 1575, 1070, 690, 2090)

In [106]:
top_players.loc[1070]

player_name           James Harden
age                           29.0
player_height               195.58
player_weight             99.79024
gp                              78
pts                           36.1
reb                            6.6
ast                            7.5
net_rating                     6.3
oreb_pct                     0.023
dreb_pct                     0.157
usg_pct                      0.396
ts_pct                       0.616
ast_pct                      0.394
season                        2019
team                       Houston
Win PCT                      0.634
AVG Minutes Played          30.888
combined_score               15.72
Name: 1070, dtype: object